.chat-main
  .main-header
    %pサンプル
    .main-header__left-box
      -# %h2.main-header__left-box__current-group "data-group_id= "#"
      -# %ul.main-header__left-box__member-list
      -# "member"
      -# %li.main-header__left-box__member-list__member
    %a(href="groups/edit")
      .main-header__edit-btn Edit
  .messages
    %pだけ
  .form
    %from.new_message
      .input_box
        %input.input_box__text{:placeholder => "type a messege"}
        %label.input_box__image{:for => "message_image"}
          = icon('fas', 'image')
          %input.file#message_image{type: "file"}
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}








