.chat-side
  .side-header
    %p 
      だけひろと
    .side-header__box
      %p.side-header__box__user-name
      %ul.side-header__box__mune
        %li.side-header__box__menu__new-group
          = link_to '','/users//edit/'
          = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to '', '/groups/new'
          = icon('fas', 'cog')

  .groups
  -#   %p
  -#     サンプル
  -#   %p
  -#     おはよう
  -#   %a(href="/groups/4869/messeges")
  -#     .group
  -#       %p.group__group-naame
  -#       %p.group__latest-message

